<form class="box" method="post" action="/login">
  <p class="help is-danger">Invalid username or password</p>

    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" type="text" placeholder="e.g. i_am_hamster">
      </div>
    </div>
  
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" placeholder="********">
      </div>
    </div>
  
    <button class="button is-primary is-login">Log In</button>

    <p>If you don't remember your info, <a href="/www/login?state=signup">create an account</a> </p>
  </form>