
<form class="box">
    <p class="help is-danger">All fields are required</p>

    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" type="text" placeholder="e.g. i_am_hamster">
      </div>
    </div>
  
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" placeholder="********">
      </div>
    </div>


    <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g. lolhamster_ai@gmail.com">
        </div>
      </div>
  
    <button class="button is-primary">Create Account</button>
    <p>If you already have an account <a href="/www/login?state=signup">log in</a> </p>

  </form>  
