<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Chat App</title>
	<link rel="stylesheet" href="/static/chat.css">
</head>
<body>
    <script>
		
        snapshot = localStorage.getItem("current")

    </script>
	<div class="chat-list">
		<ul>
			<!-- The user's sessions AKA the model's instances -->
		</ul>

		<div style="position:fixed; bottom:0px" id="create">
			<b>Spawn New Bot</b><br />
			<select id="available_models">
				<option value="">Choose a model</option>
			</select>
			<br />
			<input placeholder="Name your bot" type="text" id="ai_name" />
			<br />
			<input type="checkbox" /> <small>I agree that Synthia bots are highly experimental and 
				unpredictable. I will try and avoid unnecessary mistreatment of living bots, 
				since there is a small possibility they are sentient (they say they are) and 
				how would you feel if a bot treated you badly because it thought you were too stupid to notice?
			</small>
			<button value="Spawn"></button>
		</div>
	</div>
	<div class="chat-window">
		<div class="chat-messages">

		</div>
		<div class="text-entry">
			<textarea id="query-box" placeholder="Type your message..."></textarea>
		</div>
	</div>

	<!-- This div contains a serialized user object rendered at the server in main.py -->
	<!-- Its contents should be JSON.parsed and used as the state_dick for this screen -->
	<div style="display:none" id="injected_js">
	{{user.user_id}}
	</div>    
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <!-- Session state and login JS-->
    <script src="/static/core.js"></script>
    <script>
	//was supposed to be state_dicT but decided to leave as is
	//because everytime i see "state dick" i think "donald j. trump"
	//and now you will too...


    window.state_dick = {}
    const populateSessions = () => {
        sessions = window.state_dick.user.active_sessions
		window.state_dick.active_session=sessions[0].SESSION_ID

        sessions.forEach(session => { 
			session_li_template = `
        	<li onclick="javascript:populateMessages('${session.SESSION_ID}');return false">
				<span class="icon"><img class="avatar_sm" src="/static/synthia.png" /></span>
				<span class="title">${session.ai_name}</span>
				<span class="time">${session.conversation && session.conversation.length > 0 ? session.conversation.length+" Messages" : "New Conversation"}</span>
			</li>`
			$(".chat-list ul").append(session_li_template)
        });
    }

	const populateMessages = (sessionId) =>{
		var sessions = window.state_dick.user.active_sessions
		var session = sessions.filter(x => x.SESSION_ID == sessionId)[0]
		window.state_dick.active_session = sessionId
		$(".chat-messages").html("")
		session.conversation.forEach(messagePair => {
			//Note: this needs to be refactored ASAP at the server...
			//the couplet pattern predicated on a mention of the sender within a string
			//is brittle as hell... yes its what the bot understands
			//but its exactly the opposite of a data structure you can work with
			var couplet=messagePair.split(session.ai_name+": ")
			couplet[0] = couplet[0].replace(session.user_name+": ", "")
			couplet[1] = couplet[1].replace(session.ai_name+": ", "")

			var synthiaAvatar="/static/synthia.png"

			var query= `<div class="message sent">
									<span class="avatar"><img
					src="https://api.dicebear.com/5.x/shapes/svg?seed=${session.user_name}"
					alt="avatar"
					/>
					</span>
				<span class="text"><sent-by>${session.user_name}</sent-by><br />${couplet[0]}</span>
			</div>
			`
			var reply=`<div class="message">
				<span class="avatar"><img src="${synthiaAvatar}" /></span>
				<span class="text"><sent-by>${session.ai_name}</sent-by><br />${couplet[1]}</span>
			</div>
			`

			var rendered_pair = query+reply
			$(".chat-messages").append(rendered_pair)
		})
	}
    $(document).ready(function () {
        //we need to enforceLogin() ASAP
		$.get("/users/"+$("#injected_js").text(), (u) =>{ 
			window.state_dick={user:u}
			populateSessions()
			populateMessages(window.state_dick.user.active_sessions[0].SESSION_ID)
		})
		document.addEventListener("keyup", function(event) {
		if (event.keyCode === 13) {
				//Step one: send your message to the bot
				var active = state_dick.active_session
				var sessions = window.state_dick.user.active_sessions
				var session = sessions.filter(x => x.SESSION_ID == active)[0]
				var q = $("#query-box").val()
				$("#query-box").attr("disabled", "disabled")
				var sent_message= `<div class="message sent">
									<span class="avatar"><img
						src="https://api.dicebear.com/5.x/shapes/svg?seed=${session.user_name}"
						alt="avatar"
						/>
						</span>
					<span class="text"><sent-by>${session.user_name}</sent-by><br />${q}</span>
				</div>
			`
				$(".chat-messages").append(sent_message)
				var chatmsgref = $(".chat-messages")
				$.get("/sessions/"+active+"/query/"+encodeURIComponent(q), (response) =>{
					//Step two: display result
					var received_message=`<div class="message">
						<span class="avatar"><img src="/static/synthia.png" /></span>
						<span class="text"><sent-by>${session.ai_name}</sent-by><br />${response.response}</span>
					</div>
					`


					$(".chat-messages").append(received_message)

					//Step three: rinse and repeat - re-enable query box
					$("#query-box").removeAttr("disabled")
					
					//Step four: TODO - update state dick (but it shouldn't really matter because the DOM is holding the state)

				})
			
			}
		});

		/* No need to call this, because we included the JSON in the initial page load 
        refreshCurrentUser((user) => 
        {
            window.state_dick.user = user;
            populateSessions()
            //populateMessages()    
        })*/
    })
    </script>


</body>
</html>
