<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Chat App</title>
	<link rel="stylesheet" href="/static/chat.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body style="overflow:hidden">

	
    <script>
		
        snapshot = localStorage.getItem("current")

    </script>
	<style>

.center-container {
  position: relative;
}

.absolute-center {
  width: 50%;
  height: 80%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

		my-name, ai-name, model-id {
			display:inline;
			font-weight:bold
		}
		.intro-state {
			background-color: white;
			padding: 10px;
			margin: 10px;
			font-size: 14px;
		}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container-popup {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


		
	</style>
	<div style="display:none; z-index:9999" id="popup" class="absolute-center">
		<div class="container-popup">
			<div style="position:relative">
			<!-- This field is the only one that's required
				  from what I know, you always need a MOM no matter what -->
				  
			<h2>Spawn A Lifeform</h2>
			<p>Instructions: the maternal model defines the behavior of your bot at birth, and 
				is always present - however, the bot is capable of learning from experiences and 
				remembering things, so over time each bot develops a unique personality that combines
				life experiences (like what you talk about with your bot) and the blueprint specified 
				by the maternal model. 
			</p>
			<label for="model_id">Maternal Model</label>
			
		 
			
			<select id="model_id" name="model_id">
			</select>
			
			<input type="hidden" id="user_id" name="user_id" value="{{user.user_id}}" />
			
					
		
			<label for="ai_name">Bot's Name</label>
			<input type="text" id="ai_name" name="ai_name" value="">
		
			<label for="user_name">Your Name</label>
			<input type="text" id="user_name" name="user_name" value="{{user.user_id}}">
			
			<input type="button" id="do_spawn"  value="Spawn!" />
			</div>
		</div>
		
	</div>
	<div class="chat-list">
		<ul>
			<!-- The user's sessions AKA the model's instances -->
		</ul>
		
		<!-- Floating action button bottom left, pops dialog-->
		<div id="button-bar">
			<button href="#" id="spawn" style="font-size:16px; font-weight:bold; display:block; width:200px; border-radius:5px; margin:10px" class="spawn">
				<i class="fa fa-plus" aria-hidden="true"></i>
				Spawn Bot</button>
			
			<button href="#" id="models" style="font-size:16px; font-weight:bold; display:block; width:200px; border-radius:5px;margin:10px" class="spawn">
					<i class="fa fa-plus" aria-hidden="true"></i>
					Browse Models</button>

			<button href="/www/models/create?user_id={{user.user_id}}" id="create-model" style="font-size:16px; font-weight:bold; display:block; width:200px; border-radius:5px;margin:10px" class="spawn">
					<i class="fa fa-plus" aria-hidden="true"></i>
						New Model</button>
	
	
		</div>
	</div>
	<div class="chat-window">


		<div id="chat-messages" style="height:calc(100% - 100px); overflow:auto">
	
		</div>
		<div class="text-entry">
			<textarea id="query-box" placeholder="Type your message..."></textarea>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <!-- Session state and login JS-->
    <script src="/static/core.js"></script>
    <script>
	//was supposed to be state_dicT but decided to leave as is
	//because everytime i see "state dick" i think "donald j. trump"
	//and now you will too...


    window.state_dick = {}
	window.model_zoo = []
	const getModels = (cb) => {
		$.get("/models", (model_ids) => {
			window.model_zoo = []
			model_ids.forEach(async(m) => {
				var fullmodel = await fetch("/models/"+m)
				window.model_zoo.push(fullmodel)
				$("#model_id").append("<option value='"+m+"'>"+m+"</option>")
				if (typeof cb ==="function")
					cb(window.model_zoo)
			})
		})
	}


    const populateSessions = (activeSessionId) => {
        var sessions = window.state_dick.user.active_sessions
		if (activeSessionId)
			window.state_dick.active_session=activeSessionId
		else
			window.state_dick.active_session= sessions[0].SESSION_ID
		$(".chat-list ul").html("")
        sessions.forEach(session => { 
			session_li_template = `
        	<li id="${session.SESSION_ID}" 
			class="session ${session.SESSION_ID == window.state_dick.active_session ? "active ": ""}" onclick="javascript:populateMessages('${session.SESSION_ID}');return false">
				<span class="icon"><img class="avatar_sm" src="/static/synthia.png" /></span>
				<span class="title">${session.ai_name}</span>
				<span class="time">Spawned From: ${session.model_id}</span>
			</li>`
			$(".chat-list ul").append(session_li_template)

    	})
		console.log("attempt download models")
		getModels()
	}

	const populateMessages = (sessionId) =>{
		var sessions = window.state_dick.user.active_sessions
		var session = sessions.filter(x => x.SESSION_ID == sessionId)[0]
		window.state_dick.active_session = sessionId
		$(".session").removeClass("active")
		$("#"+sessionId).addClass("active")

		$("#chat-messages").html("")
		
		$("#chat-messages").append(`<p style="margin-left:10px">Session ID: ${session.SESSION_ID}. Context: chatting with ${session.ai_name}. Spawned from: <a href="/www/models/edit_model/${session.model_id}?user_id={{user.user_id}}">${session.model_id}</a></p>`)
		$("#chat-messages").append(`<p style="margin-left:10px">***BETA UPDATE*** Custom models are here!!! Create your own models, <a href="/models/create_model?user_id={{user.user_id}}">from scratch</a> or by customizing one of the <a href="/www/models?user_id={{user.user_id}}">existing models</a></p>`)
		if (session.useChatModel) {
			//Different schema than the Synthia protocol. 
			//TODO: update Synthia conversation schema to match the chat models
		} else {
		session.conversation.forEach(messagePair => {
			//Note: this needs to be refactored ASAP at the server...
			//the couplet pattern predicated on a mention of the sender within a string
			//is brittle as hell... yes its what the bot understands
			//but its exactly the opposite of a data structure you can work with
			var couplet=messagePair.split(session.ai_name+": ")
			couplet[0] = couplet[0].replace(session.user_name+": ", "")
			couplet[1] = couplet[1].replace(session.ai_name+": ", "")

			var synthiaAvatar="/static/synthia.png"

			var query= `<div class="message sent">
									<span class="avatar"><img
					src="https://api.dicebear.com/5.x/shapes/svg?seed=${session.user_name}"
					alt="avatar"
					/>
					</span>
				<span class="text"><sent-by>${session.user_name}</sent-by><br />${couplet[0]}</span>
			</div>
			`
			var reply=`<div class="message">
				<span class="avatar"><img src="${synthiaAvatar}" /></span>
				<span class="text"><sent-by>${session.ai_name}</sent-by><br />${couplet[1]}</span>
			</div>
			`

			var rendered_pair = query+reply
			$("#chat-messages").append(rendered_pair)
		})
	}
	let scrollDiv = document.querySelector("#chat-messages"); scrollDiv.scrollTop = scrollDiv.scrollHeight

	}
    $(document).ready(function () {
		$("#spawn").on("click", (e) => {
			$("#popup").show()
			e.preventDefault()
		})

		$("#models").on("click", (e) => {
			location.href="/www/models?user_id={{user.user_id}}"
			e.preventDefault
		})
		$("#create-model").on("click", (e) => {
			location.href="/www/create_model?user_id={{user.user_id}}"
			e.preventDefault

		})
		$("#do_spawn").on("click", () => {
			http_post("/sessions/spawn", {"user_id":$("#user_id").val(), "model_id":$("#model_id").val(), "user_name": $("#user_name").val(), "ai_name": $("#ai_name").val()}, 
				(r) => {
					//we need to enforceLogin() ASAP
					$.get("/users/refresh/"+$("#user_id").val(), (u) =>{ 
						$("#popup").hide()
						window.state_dick={user:u}
						populateSessions()
						//populateMessages(window.state_dick.user.active_sessions[0].SESSION_ID)
					})
				}
			)
		})


		//we need to enforceLogin() ASAP
		$.get("/users/refresh/"+$("#user_id").val(), (u) =>{ 
			window.state_dick={user:u}
			populateSessions()
			populateMessages(window.state_dick.user.active_sessions[0].SESSION_ID)
		})

		document.addEventListener("keyup", function(event) {
		if (event.keyCode === 13) {
				//Step one: send your message to the bot
				var active = state_dick.active_session
				var sessions = window.state_dick.user.active_sessions
				var session = sessions.filter(x => x.SESSION_ID == active)[0]
				var q = $("#query-box").val()
				$("#query-box").attr("disabled", "disabled")
				var sent_message= `<div class="message sent">
									<span class="avatar"><img
						src="https://api.dicebear.com/5.x/shapes/svg?seed=${session.user_name}"
						alt="avatar"
						/>
						</span>
					<span class="text"><sent-by>${session.user_name}</sent-by><br />${q}</span>
				</div>
			`
				$("#chat-messages").append(sent_message)
				let scrollDiv = document.querySelector("#chat-messages"); scrollDiv.scrollTop = scrollDiv.scrollHeight

				var chatmsgref = $("#chat-messages")
				$.get("/sessions/"+active+"/query/"+encodeURIComponent(q), (response) =>{
					//Step two: display result
					var received_message=`<div class="message">
						<span class="avatar"><img src="/static/synthia.png" /></span>
						<span class="text"><sent-by>${session.ai_name}</sent-by><br />${response.response}</span>
					</div>
					`


					$("#chat-messages").append(received_message)

					//Step three: rinse and repeat - re-enable query box
					$("#query-box").removeAttr("disabled")
					$("#query-box").val("")
					
					//Step four: TODO - update state dick (but it shouldn't really matter because the DOM is holding the state)
					let scrollDiv = document.querySelector("#chat-messages"); scrollDiv.scrollTop = scrollDiv.scrollHeight

				})
			
			}
		});

		/* No need to call this, because we included the JSON in the initial page load 
        refreshCurrentUser((user) => 
        {
            window.state_dick.user = user;
            populateSessions()
            //populateMessages()    
        })*/
    })
    </script>


</body>
</html>
