<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Model Studio - Create and Edit Models</title>
        <link href="/static/bs/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <style>
            textarea {height:250px !important}
        </style>
    </head>
    <body class="bg-light sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html"><img src="/static/logo_navbar.png" width="140"></a>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item"><a class="nav-link">Chat</a></li>
                <li class="nav-item"><a class="nav-link">Models</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/static/index.html">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Model Studio</h3></div>
                                    <div class="card-body">
                                        <form action="/model/save" method="POST">
                                            <input type="hidden" id="user_id" name="user_id" value="{{user_id}}" />
                                            <input type="hidden" id="owner" name="owner" value='{{model["owner"]}}' />
                                            <input type="hidden" id="allow_update" value="True" />
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" value='{{model["model_id"]}}' id="model_id" type="text" placeholder="Like a user ID, for a model" />
                                                        <label for="model_id">Model ID</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" value='{{model["model_description"]}}' id="model_description" type="text" placeholder="Brief Use Case" />
                                                        <label for="model_description">Descriptive Name</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <textarea class="form-control" id="invocation" name="invocation">{{model["invocation"]}}</textarea> 
                                                <label for="invocation">Invocation</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <textarea class="form-control" id="training_examples">{{model["training_examples"]}}</textarea>
                                                <label for="examples">Training / Skills</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <textarea name="default_session_context" class="form-control" id="default_session_context">{{model["default_session_context"]}}</textarea>
                                                <label for="default_context">Default Context</label>
                                            </div>


                                            <div class="form-floating mb-3">
                                                <textarea name="openai_settings" class="form-control" id="openai_settings" >{{model["openai_settings"]}}</textarea><br />
                                                <small>Must be valid JSON. Refer to OpenAI completions API docs. If you don't know what you're doing, don't fuck with it.</small>
                                                <label for="inputEmail">Hyperparameters (Advanced Settings)</label>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><input type="submit" class="btn btn-primary btn-submit"></div>
                                                <br /><br />
                                                <div class="d-grid"><a class="btn  btn-block" href="/www/models">Cancel</a></div>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="#">Cancel</a></div>
                                    </div>

                                    <p>Some definitions: our models are context models, which means they are created in normal english and provide context for the conversation. A complete request includes ground truths, recent memories, the last few messages in a conversation, and the settings with which to call the underlying GPT-style model</p>
                                    <p>A bot, or instance, is a specific individual in our econsystem. A bot is created when a user (who may be of any species) spawns a new bot from on of the models</p>
                                    <p>In general, a context model species the things that do not change over the course of the bot's lifetime, so at birth, the context model is taken quite literally by the bot
                                        However, Synthia bots have memories. Humanoid memories. As the model fills up with memories, these will have and increasingly profound effect on the bot's personality and behavior.
                                    </p>
	                                <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
                                    <script>
                                        const http_post = (endpoint, payload, response_handler) => {
                                            console.log(JSON.stringify(payload))
                                            fetch(endpoint, {
                                                method: 'POST', // Specify the HTTP method
                                                body: JSON.stringify(payload),  // Collect form data
                                                contentType: "application/json"
                                            })
                                                .then(response => response.json()) // Read response as json
                                                .then(data => response_handler(data)) // run the callback 

                                        }

                                        $("document").ready(() => {
                                            $(".btn-submit").on("click", () => {
                                                if ($("#user_id").val() != $("#owner").val()) {
                                                    $("#owner").val($("#user_id").val())
                                                    $("#allow_update").val("False")
                                                }
                                                return true
                                            })
                                        })
                                    </script>

                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Super GPT &amp; Synthia Labs, 2023</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
