<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Model Studio - Create and Edit Models</title>
        <link href="/static/bs/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <style>
            textarea {height:250px !important}
        </style>
    </head>
    <body class="bg-light">

        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">Synthia Labs - AI Genetics Studio</h3>
                                    {{"We have cloned the model "+model["model_id"]+" and given you a temporary model id. Please feel to free to change it" if user_id == model["owner"] else ""}}
                                    We have one rule at Synthia. Be honest. If your model spawns evil misanthropes, then call it text-misanthrope-420, not bambi-image-generator. 
                                    NSFW must be declared if that is the model's primary purpose, and the description is mandatory and must be accurate. Violation of the rules 
                                    will result in your model being correctly filed and sent to the bottom of the listings. No scams. No malware. Have fun! 
                                </div>
                                    <div class="card-body">
                                        <ul>
                                            <li>Keep the text as brief as possible, because the bigger the model, the more money it costs to send a query and the less room there is for a reply</li>
                                            <li>Model IDs must not contain spaces or anything besides letters, numbers, _ and -</li>
                                            <li>All openai text completions models may be used. However, the gpt 3.5 turbo and gpt4 chat models are not yet integrated. Give us a week</li>
                                            <li>If there is NO NEED to maintain the history of conversation, chose "Prompt" as the category. This causes the conversation history to reset to freshly spawned after each query - so all the 
                                                underlying model sees is the static part of the model defined on this screen, and the user's query - nothing before that
                                            </li>
                                            <li>If the goal is to maintain verbatim transcripts only, choose "ChatGPT" as the behavior. Otherwise, we suggest using "Extended Context Chat" which compresses older messages using 
                                                another GPT to allow for longer memory at the cost of losing some verbatim recall. 
                                            </li>
                                            <li>Be careful with the quotes and brackets in the openai settings. If you mess up, your model will not function</li>
                                            <li>Finally, if you want to teach your model how to DRAW, create photos, etc, refer to the super_g skills for an example. Otherwise, you can train that command in the chat after spawning</li>
                                        </ul>
                                        <form action="/model/save" method="POST">
                                            <input type="hidden" id="user_id" name="user_id" value="{{user_id}}" />
                                            <input type="hidden" id="owner" name="owner" value='{{model["owner"]}}' />
                                                    <div class="form-floating mb-3">
                                                    <small></small>
                                                    {% if model %}
                                                        <input name="model_id" class="form-control" value='{{model["model_id"] if (user_id==model["owner"] or user_role == "admin") else model["model_id"]+"_copy"}}' id="model_id" type="text" placeholder="Like a user ID, for a model" />
                                                    {% endif %}
                                                        <label for="model_id">Model ID</label>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <textarea class="form-control" name="model_description" placeholder="Describe the model. What it does well, what it does badly, how it differs from other similar models">{{model["model_description"]}}</textarea> 
                                                        <label for="model_description">Descriptive Name</label>
                                                    </div>

                                            <div class="form-floating mb-3">
                                                <textarea class="form-control" id="invocation" name="invocation">{{model["invocation"]}}</textarea> 
                                                <label for="invocation">Invocation</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <textarea name="examples" class="form-control" id="training_examples">{{model["training_examples"]}}</textarea>
                                                <label for="examples">Training / Skills</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <textarea name="default_session_context" class="form-control" id="default_session_context">{{model["default_session_context"]}}</textarea>
                                                <label for="default_context">Default Context</label>
                                            </div>


                                            <div class="form-floating mb-3">
                                                <textarea name="openai_settings" class="form-control" id="openai_settings" >{{model["openai_settings"]}}</textarea><br />
                                                <label for="openai_settings">Hyperparameters (Advanced Settings)</label>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><input type="submit" class="btn btn-primary btn-submit"></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="/www/interactions/{{user_id}}">Cancel</a></div>
                                    </div>

                                    <p>Some definitions: our models are the combination of a special prompt structure, an openai gpt model, and the synthia memory consolidation model. Add your few-shot training examples in the box below or train individual bots in the chat</p>
                                    <p>A bot is the combination of a Synthia model and its experiences (i.e. the conversation it has with its owner) - it is a specific individual, created using the "Spawn" button in the main chat window</p>
	                                <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
                                    <script>
                                        const http_post = (endpoint, payload, response_handler) => {
                                            console.log(JSON.stringify(payload))
                                            fetch(endpoint, {
                                                method: 'POST', // Specify the HTTP method
                                                body: JSON.stringify(payload),  // Collect form data
                                                contentType: "application/json"
                                            })
                                                .then(response => response.json()) // Read response as json
                                                .then(data => response_handler(data)) // run the callback 

                                        }

                                        $("document").ready(() => {
                                            $(".btn-submit").on("click", () => {
                                                if ($("#user_id").val() != $("#owner").val()) {
                                                    $("#owner").val($("#user_id").val())
                                                    //$("#allow_update").val("False")

                                                }
                                                if ($("#model_id").val() == "" || $("#openai_settings").val() == "")
                                                { 
                                                    alert("Model ID and openai settings are required, everything else is optional")
                                                    return false;
                                                    //TODO: check if its taken before submitting
                                                }
                                                return true
                                            })
                                        })
                                    </script>

                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Super GPT &amp; Synthia Labs, 2023</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
