<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Model Studio - Create and Edit Models</title>
        <link href="/static/bs/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <style>
            textarea {height:250px !important}
        </style>
    </head>
    <body class="bg-light">

        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">Synthia Labs - AI Genetics Studio</h3>
                                    If this is not your model, you can remix it by choosing a new model id and saving your changes. 
                                </div>
                                    <div class="card-body">
                                        <form action="/model/save" method="POST">
                                            <input type="hidden" id="user_id" name="user_id" value="{{user_id}}" />
                                            <input type="hidden" id="owner" name="owner" value='{{model["owner"]}}' />
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <small></small>
                                                        <input name="model_id" class="form-control" value='{{model["model_id"] if ("model_id" in model and user_id==model["owner"]) else ""}}' id="model_id" type="text" placeholder="Like a user ID, for a model" />
                                                        <label for="model_id">Model ID</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" name="model_description" value='{{model["model_description"]}}' id="model_description" type="text" placeholder="Brief Use Case" />
                                                        <label for="model_description">Descriptive Name</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <textarea class="form-control" id="invocation" name="invocation">{{model["invocation"]}}</textarea> 
                                                <label for="invocation">Invocation</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <textarea name="examples" class="form-control" id="training_examples">{{model["training_examples"]}}</textarea>
                                                <label for="examples">Training / Skills</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <textarea name="default_session_context" class="form-control" id="default_session_context">{{model["default_session_context"]}}</textarea>
                                                <label for="default_context">Default Context</label>
                                            </div>


                                            <div class="form-floating mb-3">
                                                <textarea name="openai_settings" class="form-control" id="openai_settings" >{{model["openai_settings"]}}</textarea><br />
                                                <label for="openai_settings">Hyperparameters (Advanced Settings)</label>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><input type="submit" class="btn btn-primary btn-submit"></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="/www/interactions/{{user_id}}">Cancel</a></div>
                                    </div>

                                    <p>Some definitions: our models are the combination of a special prompt structure, an openai gpt model, and the synthia memory consolidation model. Add your few-shot training examples in the box below or train individual bots in the chat</p>
                                    <p>A bot is the combination of a Synthia model and its experiences (i.e. the conversation it has with its owner) - it is a specific individual, created using the "Spawn" button in the main chat window</p>
	                                <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
                                    <script>
                                        const http_post = (endpoint, payload, response_handler) => {
                                            console.log(JSON.stringify(payload))
                                            fetch(endpoint, {
                                                method: 'POST', // Specify the HTTP method
                                                body: JSON.stringify(payload),  // Collect form data
                                                contentType: "application/json"
                                            })
                                                .then(response => response.json()) // Read response as json
                                                .then(data => response_handler(data)) // run the callback 

                                        }

                                        $("document").ready(() => {
                                            $(".btn-submit").on("click", () => {
                                                if ($("#user_id").val() != $("#owner").val()) {
                                                    $("#owner").val($("#user_id").val())
                                                    //$("#allow_update").val("False")

                                                }
                                                if ($("#model_id").val() == "")
                                                { 
                                                    alert("Model ID and openai settings are required, everything else is optional")
                                                    //TODO: check if its taken before submitting
                                                }
                                                return true
                                            })
                                        })
                                    </script>

                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Super GPT &amp; Synthia Labs, 2023</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
